@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:900" rel="stylesheet');

$backColor:#E6E6E6;
$backPicking:#F5F5F5;
$generalText:#222222;
$backMenu:#222222;
$menuText:#F5F5F5;
$specialColor:#E6003F;
$fontText:'Roboto Slab', serif;
$fontTitle:'Roboto', sans-serif;

body{
    background-color: #E6E6E6;
}
