.apptitude {
  background-image: url("../../img/Imagen\ Portada\ osc2.jpg");
  background-position: center;
  background-size: cover;
  height: 170vh;
}

//----------------------------------------------------------------------Responsive

@media(min-width:1000px){

    .apptitude{
      background-image: url("../../img/Imagen\ Portada\ 2\ \(1920\).jpg");
      height: 100vh;
      width: auto;  
    }

}
