@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:900" rel="stylesheet');

$backColor:#E6E6E6;
$backPicking:#F5F5F5;
$generalText:#222222;
$backMenu:#222222;
$menuText:#F5F5F5;
$specialColor:#E6003F;
$fontText:'Roboto Slab', serif;
$fontTitle:'Roboto', sans-serif;

.containerEx{
    display:flex;
    height: 15vh;
    justify-content: center;
    border-style:solid;
    border-color:red;
    border-width: 0.5px;
    border-radius:10px;
    margin:5px;
}

.eachEx{
    display:flex;
    flex-direction:column;
    font-size:10px;
    width:100px;
    
    

}

.tabs-container .tab-panel-item.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
