@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:900" rel="stylesheet');

$backColor:#E6E6E6;
$backPicking:#F5F5F5;
$generalText:#222222;
$backMenu:#222222;
$menuText:#F5F5F5;
$specialColor:#E6003F;
$fontText:'Roboto Slab', serif;
$fontTitle:'Roboto', sans-serif;


.exercise-page{
    flex-direction: column;
    background-color: #E6E6E6;
    // align-items: center;
    height: 100vh;
    display: flex;
}

.cont-break{
    background-color:#272727;
    height: inherit;
    text-align:center;
}

.break-message{
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: $fontTitle;
    color:white;
    font-size:30px;
    margin-top: 100px;
    margin-bottom:20px;
}

.cont-save{
    display: flex;
    justify-content: center;
    background-color:#272727;
    height: inherit;
}

.butt-start{
    margin-top:130px;
    background-color:$specialColor;
    border-style:solid;
    border-color:white;
    border-radius:50%;
    border-width: 8px;
    width: 62vw;;
    height: 32vh;
    justify-content: center;
}

.start-img {
    height: 12vh;;
    width: auto;
}

.break-img {
    height:12vh;
    width:auto;
}

.congrats-img {
    height:10vh;
    width:auto;
}

.cont-final{
    display:flex;
    flex-direction: column;
}

.final-message{
    font-family: $fontTitle;
    color:$specialColor;
    font-size:2.8em;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    
}

.final-block{
    display:flex;
    flex-direction: column;
    margin-top:30px;
    align-items: center;
}

.final-butt{
    text-align: -webkit-center;
    margin: 4px 92px;
    background-color: rgb(204, 203, 203);
    border-style: solid;
    border-radius: 5px;
    font-family: "Roboto Slab", serif;
    color: #222222;
    font-size: 18px;
    width: 190px;
}

//----------------------------------------------------------------------Responsive

@media(min-width:500px){
    .butt-start{
        width: 298px;
        height: 298px;
        margin-top: 80px;
    }

    .start-img {
        height: 113px;
        width: auto;
    }

    .break-img {
        height:93px;
        width:auto;
    }

    .congrats-img {
        height:81px;
        width:auto;
    }

}

@media(min-width:700px){

    .break-img {
        height:113px;
        width:auto;
    }

    .congrats-img {
        height:100px;
        width:auto;
    }

}