@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:900" rel="stylesheet');

$backColor:#E6E6E6;
$backPicking:#F5F5F5;
$generalText:#222222;
$backMenu:#222222;
$menuText:#F5F5F5;
$specialColor:#E6003F;
$fontText:'Roboto Slab', serif;
$fontTitle:'Roboto', sans-serif;


.exercise-page{
    flex-direction: column;
    background-color: #E6E6E6;
    align-items: center;
    height: 100vh;
    display: flex;
}

.break-message{
    display:flex;
    justify-content: center;
    font-family: $fontTitle;
    color:$generalText;
    font-size:30px;
    margin-top: 100px;
    margin-bottom:20px;
}

.butt-start{
    margin-top:130px;
    background-color:$specialColor;
    border-style:solid;
    border-color:$specialColor;
    border-radius:5px;
    font-family: $fontText;
    color: $menuText;
    font-size: 18px;
    width: 190px;
}